* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
}
.wrapper {
    position: absolute;
    width: 110vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("white-and-grey-surface.jpg");
    background-size: 2000px;
}
.card {
    position: relative;
    width: 500px;
    height: 286px;
    padding: 10px 15px 15px 10px;
    margin-top: 50px;
    border-radius: 2px;
    background: url("card-background.jpg");
    background-size: cover;
}