* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
}
.wrapper {
    position: absolute;
    width: 110vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("white-and-grey-surface.jpg");
    background-size: 2000px;
}
.card {
    position: relative;
    width: 500px;
    height: 286px;
    padding: 10px 15px 15px 10px;
    margin-top: 75px;
    border-radius: 2px;
    background: url("business-card-front.jpg");
    background-size: cover;
    box-shadow:
    /* top shadow */
    0px -10px 10px rgba(0,0,0,0.1),
    /* bottom shadow */
    0px 10px 20px rgba(0,0,0,0.3),
    /* left shadow */
    -10px 0px 20px rgba(0,0,0,0.3),
    /* right shadow */
    10px 0px 20px rgba(0,0,0,0.3),
    /* inner shadow */
    inset 1px 1px 20px rgba(0,0,0,0.3)
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card.front {
    right: 50px;
    background: url("business-card-front.jpg");
    background-size: cover;
}

.card.back {
    left: 50px;
    background: url("business-card-back.jpg");
    background-size: cover;
}

/* ANIMATIONS */

.card.front {
    transform: rotateZ(-5deg);
    left: -15%;
}
.card.back {
    transform: rotateZ(2deg);
    left: 5%;
    top: -2%;
}
.card:hover {
    transform: scale(1.07);
}

.card {
    /* cursor:pointer; */
    transition: 0.5s;
}

.shadow-transition {
    position: relative; /* For positioning the pseudo-element */
}
  
.shadow-transition::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Create the box shadow at expanded size. */
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
  
    /* Hidden by default. */
    opacity: 0;
    transition: opacity 500ms;
}
  
.shadow-transition:hover::before {
    /* Show the pseudo-element on hover. */
    opacity: 1;
}

.light {
    position: absolute;
    width: 110vw;
    height: 110vh;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,0.5) 20%, rgba(255,255,255,0) 60%);
    opacity: 0.4;
    z-index: 9;
    pointer-events: none;
}